.user_comment
{
    width:33.5vw;
    padding-left:2vh;
    padding-top:1vh;
    border-top: 1px solid;
    border-color: #84b233;
    word-break: break-all;
}
.Comment_id
{
    display:flex;
    flex-direction: row;
    height: 5vh;
    align-items: center;
    justify-content: left;
    background-color: white;
}
.Comment_user-id
{
    margin-left: 1vh;
    font-family: var(--font-NotoBold);
}
.Comment_Id_UserImage
{
    font-size: 4vh;
}
.Comment_comment
{
    font-family: var(--font-NotoMedium);
}
.Comment_Body
{
    padding : 1vh;
}