.item1, .item2, .item3, .item5
{
  margin-left: 2vh;
  margin-top: 10vh;
  display:flex;
  align-items: center;
}
.item4
{
  margin-left: 1.5vh;
  margin-top: 10vh;
  display:flex;
  align-items: center;
}
.l1img, .l2img, .l3img, .l5img
{
  width: 5vh;
}
.l5img
{
  width: 5vh;
}
.l4img
{
  width: 6vh;
}

.l1font, .l2font, .l3font, .l5font
{
  margin-left:3.5vh;
  font-family: var(--font-NotoMedium);
  font-size:2.5vh;
}
.l4font
{
  margin-left:3vh;
  font-family: var(--font-NotoMedium);
  font-size:2.5vh;
}

.List
{
  font-family: var(--font-NotoBold);
  font-size:4vh;
  text-align: center;
}