.l1font, .l2font, .l3font, .l5font
{
  margin-left:3.5vh;
  font-family: var(--font-NotoMedium);
  font-size:2.5vh;
}
.l4font
{
  margin-left:3vh;
  font-family: var(--font-NotoMedium);
  font-size:2.5vh;
}

.List
{

  padding-top: 1vh;
  padding-bottom: 1vh;
  
  font-family: var(--font-NotoBlack);
  font-size:4vh;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: black;
}


.item1Button, .item2Button, .item3Button, .item4Button
{
  margin-top: 8vh;

  width:16vw;
  height:8vh;
  
  text-align: center;
  padding: 2vh;
  border-radius: 2vh;

  background-color: #98cd3b;
  filter:brightness(108%);
  border: 2px solid;
   
  border-color: #84b233;
}
.item1Image, .item2Image, .item3Image, .item4Image
{
  font-size:4vh;
  vertical-align: middle;
}
.item1Span, .item2Span
{
  font-size:2.5vh;
  margin-left: 2vh;
  margin-right: 2vh;
  font-family: var(--font-NotoMedium);
  vertical-align: middle;
}
.item3Span
{
  font-size:2.5vh;
  margin-left: 2vh;
  margin-right:2vh;
  font-family: var(--font-NotoMedium);
  vertical-align: middle;

}
.item4Span
{
  margin-left:1.5vh;
  margin-right:1.5vh;
  font-size:2.5vh;
  font-family: var(--font-NotoMedium);
  vertical-align: middle;

}
.ListBorder
{
  margin-top: 1vh;
}
.List
{
  margin-top:1vh;
}

.MainList
{
  width:18vw;
  margin-right: 6vh;
  background-color: white;
  text-align: center;
} 
.item1
{
  margin-top: 2vh;
}