.dot {overflow:hidden;float:left;width:12px;height:12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/mini_circle.png');}    
.dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
.dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
.number {font-weight:bold;color:#ee6152;}
.dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
.distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
.distanceInfo .label {display:inline-block;width:50px;}
.distanceInfo:after {content:none;}


@font-face
{
  font-family:"NotoMedium";
  src: url("../assets//fonts/Noto_Sans_KR/NotoSansKR-Medium.otf");
}

@font-face
{
  font-family:"NotoBlack";
  src: url("../assets/fonts/Noto_Sans_KR/NotoSansKR-Black.otf");
}

:root
{
  --font-NotoBold: "NotoBold";
  --font-NotoMedium : "NotoMedium";
  --font-NotoBlack : "NotoBlack";
}



.AddList
{
   display: flex;
   flex-direction: row;
}
.ListName
{
    margin-left: 8vh;
    font-family: var(--font-NotoBlack);
    font-size: 4vh;
    line-height: 8vh;
    width:'32vw';
    height:'8vh';
    background-color: rgba(157,211,168,1);
    text-align: center;
    flex:1;
    flex-direction: row;
    
}


.AddListMain
{
    background-color : rgba(157,211,168,1);
    width : 40vw;
    height: 100vh;
}

.TrailNameBox, .TrailFeatureBox, .TrailFacilityBox, .Temp1box, .Temp2Box
{
    text-align: center;
}
.TrailName
{
    margin-top: 5vh;
    width:30vw;
    height:8vh;
    text-align: center;
    border: 0.1vh solid;
}

.TrailFeature{
    margin-top: 5vh;
    width:30vw;
    height:8vh;
    text-align: center;
    border: 0.1vh solid;
}
.TrailFacility, .Temp1
{
    margin-top: 5vh;
    width:30vw;
    height:8vh;
    text-align: center;
    border: 0.1vh solid;
}

.Temp2
{
    margin-bottom: 5vh;
    margin-top: 5vh;
    width:30vw;
    height:8vh;
    text-align: center;
    border: 0.1vh solid;
}

.AddListAddButton
{
    width:33vw;
    height: 6vh;
    text-align: center;
}
