.Main
{
    display: flex;
    flex-direction: row;
}
.Left
{
    flex: 60%;
}
.Right
{
    flex: 40%;
}
.Map
{
    height: 90vh;
}
.Map
{
    width:50vw;
    height:90vh;
    margin-left: 5vw;
    margin-top : 5vh;
}
.head
{
    margin-left: 18vw;
}
.TrailDataBox
{
    width:35vw;
    height: 80  vh;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    border-color: #84b233;

    
}
.DataBoxHead
{
    height:10vh;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid;
    border-color: #84b233;
    word-break:break-all;   
}
.DataBoxHeadText
{
    font-family: var(--font-NotoBlack);
    color: black;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:29vw;
    background-color: white;
    
}
.DataBoxBackButton
{   
    font-size: 5vh;
    color: #84b233;
}
.DataBoxButtonSpace
{
    margin-left: 1vh;
    width:3vw;
    height: 9.9vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;    

}
.TrailReview
{
    width:34.9vw;
    height:28vh;
    background-color: white;
    padding: 1vw;
    font-size: 2vh;
    font-family: var(--font-NotoMedium);
    border-color: #84b233;
    word-break:break-all;
    overflow: auto;
}

.TrailFacilities
{
    width:34.9vw;
    height: 15vh;
    background-color: white;
    padding:1vw;
    word-break:break-all;
    overflow-y: auto;
    overflow-x: hidden;
}

.TrailFacilitiesHead
{
    width:32.9vw;
    height:4vh;
    background-color: white;
    text-align: left;
    font-family: var(--font-NotoBlack);
}
.TrailFacilitiesBody
{
    font-family: var(--font-NotoMedium);
    font-size:2vh;
}
.CommentBox
{
    width:34.9vw;
}
.ShowComments
{
    width: 34.9vw;
    height: 18vh;
    background-color: white;
    word-break:break-all;
}
.ShowCommentsHead
{
    font-family: var(--font-NotoBlack);
    font-size:2vh;
}
.ShowCommentsBody
{
    font-family: var(--font-NotoMedium);
    margin-top:1vh;
    height:11.9vh;
    background-color: white;

}
.AddComment
{
    margin-top:1vh;
    border-top: 1px solid;
    border-color: #84b233;
    display: flex;
    flex-direction: row;
    padding:1.25vh;
    width: 34.9vw;
    height:6.8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AddCommentTextBox
{

    margin-left: 1vh;
    border-radius: 1vh;
    height:4vh;
    width: 35vw;
    background-color: white;
    padding:1vh;
    font-family: var(--font-NotoBold);
    
}
.AddCommentButtonBox
{
    width: 4vw;
    margin-left: 1vw;
    background-color: white;
    
}
.CommentButtonImg
{
    font-size: 2vw;
    color: #84b233;
}
.AddCommentButton
{
    margin-left:1vh;
    background-color: white;
    border:none;
    cursor: pointer;
}

.UserImg
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vh;
    background-color: white;
}
.UserImgFile
{
    font-size: 4vh;
    color: #84b233;
}

.ScrollBox
{
    
    overflow-y: auto;
    overflow-x: hidden;
}

.FavoriteButton
{
    display: flex;
    width:3vw;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    margin-right: 1vw;
    cursor: pointer;
}
.black
{
    color: black;
}
.green
{
    color: #84b233;
}
.FavoriteImg
{

    font-size:3vw;
}
